.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    padding: 0 50px;
}

.Home-header {
    text-align: center;

    animation: fadein 3s, dropin 2s;
    -webkit-animation: fadein 3s, dropin 2s;
    -moz-animation: fadein 3s, dropin 2s;
    -ms-animation: fadein 3s, dropin 2s;
    -o-animation: fadein 3s, dropin 2s;
}

.Home-headshot {
    width: 250px;
    border-radius: 50%;
    border: 2px solid var(--navy);
}

.Home-name {
    margin: 7px 0;
}

.Home-button-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 40px;

    animation: fadein 3s, dropin 2s;
    -webkit-animation: fadein 3s, dropin 2s;
    -moz-animation: fadein 3s, dropin 2s;
    -ms-animation: fadein 3s, dropin 2s;
    -o-animation: fadein 3s, dropin 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; } 
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; } 
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; } 
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; } 
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; } 
}

@keyframes dropin {
    from { transform: translateY(-15%); }
    to   { transform: translateY(0%); } 
}
@-webkit-keyframes dropin {
    from { transform: translateY(-15%); }
    to   { transform: translateY(0%); } 
}
@-moz-keyframes dropin {
    from { transform: translateY(-15%); }
    to   { transform: translateY(0%); } 
}
@-ms-keyframes dropin {
    from { transform: translateY(-15%); }
    to   { transform: translateY(0%); } 
}
@-o-keyframes dropin {
    from { transform: translateY(-15%); }
    to   { transform: translateY(0%); } 
}